
body{
   padding-top:0px;
   margin-top: 0px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent;
	color: #fff;
	
}

.navbar-default {
	background-color: transparent;	
	border-color: transparent;
	
}

.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 32px;
}

 .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a {
	 font-size: 18px;
	 color: #fff;
	 font-family:'Montserrat', sans-serif;
 }

 
nav a:before {
	position: absolute;
	bottom:-5px;
	left: 57%;
	color: transparent;
	content: '•';
	text-shadow: 0 0 transparent;
	font-size: 16px;
	line-height:35px;
	-webkit-transition: text-shadow 0.3s, color 0.3s;
	-moz-transition: text-shadow 0.3s, color 0.3s;
	transition: text-shadow 0.3s, color 0.3s;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	pointer-events: none;
}

nav a:hover:before,
nav li.active a:before {
	color: #fff;
	text-shadow: 12px 0 #fff, -12px 0 #fff;
}

#my-nav.scrolled .nav a,
#my-nav.scrolled .nav a:active,
#my-nav.scrolled .nav a:hover{
    color: white;
}


#my-nav.scrolled .nav a:hover:before,
#my-nav.scrolled .nav li.active a:before {
	color: white;
	text-shadow: 12px 0 white, -12px 0 white;
}


#my-nav {
	padding-top: 10px;
}
#me-photo {
	box-shadow: -5px 5px 5px #888888;
			 
}

#hello, #engineer, #accounting {
	font-family: "Lato", sans-serif;
	font-size: 3rem;
	color: white;
}
.greeting {
	margin-top: 70px;
}
#hello {
	font-size: 3.2rem;
	font-weight: 300;
}
#engineer {
	font-size: 5rem;
}
#accounting {
	font-weight: 300;

}

hr {
	border-top: 1px solid black;
	margin: 10px 0 10px 0;
}

#quote {
	margin-top: -101px;
}
#quote-text {
	font-family: "Lato", sans-serif;
	font-size: 3.1rem;
	font-weight: 300;
}

#text-wrapper {
	margin-top: 8px;
}
#about-column {
	text-align: center;
	font-family: "Lato", sans-serif;
	font-size: 17px;
}

.bold-font {
	font-weight: 700;
}
#center-quote {
	padding: 10px 0 10px 0;
}

#last-text {
	padding-top: 10px;
}


#skillset-container {
	padding: 0 0 0 0;
	display: inline-block;
	text-align: center;
	margin: 0 auto;
}

#skillset-wrapper {
	margin-top: 20px;
	background-color: rgb(228,228,228);
}
#skills {
	padding-top: 15px;
	padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    margin: 15px 10px 15px 10px;
	text-align: center;
	display: inline-block;
	background-color: white;
}

#skills p {
	font-size: 18px;
	font-family: "Lato", sans-serif;
	margin: 2px;
	font-style: italic;
	font-weight: 400;
	color: rgb(100,100,100);
}
#skills #skillset-header {
	font-family: "Lato",sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	color: rgb(64,64,64);
}

#img-container {
	background-color: rgb(241,241,241);
	border-radius: 50%;
	height: 270px;
	width:270px;
}
.first-row {
		margin-right: 40px;
	}
@media(max-width:400px) {
	.row {
		margin-left: 20px;
	}
}

